* {
  margin: 0;
  padding: 0;
}
.inputContainer {
  border: 1px solid grey;
  background-color: rgb(247, 237, 225);
  width: 30%;
  height: 30%;
  padding: 1%;
  margin: 1%;
  font-size: 25px;
  & input {
    font-size: 25px;
  }
  & input {
    width: 250px;
    padding: 10px 14px;
    margin-left: 10px;
    font-size: 23px;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
  }
  input:focus{
   border-color: #007bff;
   box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  }
}
.Add-Btn {
  font-size: 25px;
  margin: 1%;
  width: 85px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid green;
  background-color: rgb(211, 149, 74);
  transition: 0.5s ease;
  &:hover {
    cursor: pointer;
      transform: scale(1.1);
  }
}
.display_section {
  width: 95%;
  margin: 1%;
  display: flex;
  gap: 5%;
  & h2 {
    font-weight: bold;
    margin-bottom: 5px; 
  }
}
.display {
  display: flex;
  flex-direction: row;
  gap: 3px;
  & input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }
}
.taskList {
  padding: 10px;
  padding-left: 20px;
  border: 1px solid grey;
  background-color: rgb(247, 237, 225);
  width: 60%;
  & li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 23px;
    align-items: center;
    margin-bottom: 11px;
    /* list-style-type: disc; */
  }
  & li::before {
    content: "•";
  }
  & input {
    margin-left: 3px;
  }

  & .edit-Btn {
    padding: 2px;
    font-size: 20px;
    width: 70px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid green;
    background-color: rgb(211, 149, 74);
    transition: 0.5s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.completedTask {
  padding: 10px;
  border: 1px solid grey;
  background-color: rgb(247, 237, 225);
  width: 40%;
  & li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 23px;
     align-items: center;
    margin-bottom: 11px;
  }
  & li::before {
    content: "•";
  }
  & .delete-Btn {
    padding: 2px;
    font-size: 20px;
    width: 70px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid green;
    background-color: rgb(211, 149, 74);
    transition: 0.5s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
